#aboutus_wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 90vh;
  background-color: var(--main-cnt-color);
  overflow: auto;
}

#main_block {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60%;
  height: 80%;
  background-color: var(--main-cnt-color);
  color: #ffff;
}

#main_block p {
  font-size: 24px;
  color: var(--main-wht-color);
}

#logo {
  width: 50%;
  min-width: 300px;
  height: auto;
}

@media (max-width: 700px) {
  #main_block {
    width: 90%;
  }

  #main_block p {
    font-size: 18px;
  }
}

@media (max-height: 800px) {
  #main_block {
    grid-template-rows: auto;
    justify-items: center;
    height: 100vh;
  }
}
