#faq_wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 100%;
  background-color: var(--main-wht-color);
}

.content_block {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  /* background-color: var(--main-wht-color); */
  color: var(--main-cnt-color);
  overflow: auto;
  scrollbar-width: none;
}

.content_block h1 {
  font-size: 39px;
  font-weight: 600;
  margin: 0;
  /* margin-top: 1em; */
}

.content_block h2 {
  font-size: 26px;
  font-weight: 600;
  color: var(--main-btn-color);
}

.content_block h3 {
  font-size: 32px;
  font-weight: 600;
  margin: 1em 0;
}

#head_grid {
  display: grid;
}

#faq_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3em;
  justify-items: center;
  align-items: center;
}

.faq_block {
  height: 380px;
}

.faq_block h3 {
  font-size: 24px;
  font-weight: bold;
}

.faq_block p {
  font-size: 18px;
}

.faq_block img {
  height: 150px;
  width: auto;
}

#save_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4em;
  font-size: 0.8rem;
  justify-items: center;
  align-items: center;
}

#outlet_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5em;
  justify-items: center;
  align-items: center;
  text-align: left;
}

li {
  color: var(--main-btn-color);
  font-size: 24px;
}
li span {
  color: var(--main-cnt-color);
  font-size: 16px;
}

#logo {
  width: 50%;
  min-width: 300px;
  height: auto;
}

@media (max-width: 1200px) {

  #faq_wrapper {
    overflow: auto;
  }

  .content_block {
    overflow: auto;
  }

  #faq_grid {
    grid-template-columns: 1fr;
  }

  #save_grid {
    grid-template-columns: 1fr;
  }

  #outlet_grid {
    grid-template-columns: 1fr 1fr;
  }

  .faq_block p {
    font-size: 16px;
  }
}

@media (max-height: 900px) {
  .content_block {
    grid-template-rows: auto;
    justify-items: center;
    width: 90%;
    /* height: auto; */
  }

  #save_grid {
    grid-template-columns: 1fr;
  }

  #outlet_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  #faq_block {
    height: fit-content;
    row-gap: 5em;
  }

  #faq_block p {
    height: fit-content;
  }

  #save_grid {
    grid-template-columns: 1fr;
    row-gap: 5em;
  }

  #outlet_grid {
    grid-template-columns: 1fr;
    justify-items: left;
  }
}
