#home_body {
  display: flex;
  flex-direction: column;
}

.home_block {
  display: grid;
  align-items: center;
  height: 90vh;
  background-color: var(--main-cnt-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#singleMax_image {
  align-self: center;
  justify-self: center;
  width: 70%;
  height: auto;
  /* background-size: contain;
  background-position: center; */
}

.intro_container {
  display: grid;
  gap: 2rem;
  margin-left: 5rem;
}

.intro_text {
  width: 40%;
  text-align: left;
}

.intro_text h1 {
  margin: 0;
  font-size: 90px;
  color: var(--main-wht-color);
}

.intro_text h2 {
  margin: 0;
  font-size: 40px;
  color: var(--main-wht-color);
}

.intro_btn {
  display: grid;
  justify-content: left;
  /* margin-left: 5rem; */
}

.intro_btn a {
  background-color: var(--main-btn-color);
  color: var(--main-wht-color);
  text-align: center;
  padding: 1em;
  font-size: 45px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}

.intro_container_alt {
  display: grid;
  justify-self: right;
  justify-content: right;
  gap: 2rem;
  margin-right: 5rem;
}

.intro_text_alt {
  display: grid;
  justify-self: right;
  width: 50%;
  text-align: right;
}

.intro_text_alt h1 {
  margin: 0;
  font-size: 90px;
  color: var(--main-wht-color);
}

.intro_text_alt h2 {
  margin: 0;
  font-size: 40px;
  color: var(--main-wht-color);
}

.intro_btn_alt {
  display: grid;
  justify-content: right;
  /* margin-left: 5rem; */
}

#hassle_block {
  background-color: var(--main-wht-color);
}

#hassle_text p {
  font-size: 30px;
  color: var(--main-btn-color);
  font-weight: bolder;
}

#hassle_text h1 {
  font-size: 80px;
  color: var(--main-cnt-color);
  font-weight: bolder;
  margin: 0;
}

#home_footer {
  display: flex;
  align-items: center;
  background-color: var(--main-cnt-color);
}

#footer_left {
  flex: 1;
  justify-self: left;
}

#footer_mid {
  display: flex;
  flex: 4;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
}

#footer_mid a {
  text-decoration: none;
  color: var(--main-wht-color);
}

#footer_right {
  flex: 1;
  justify-self: right;
  display: flex;
  justify-content: right;
  margin-right: 5rem;
  gap: 1rem;
}

#footer_right a {
  text-decoration: none;
  color: var(--main-wht-color);
  font-size: 30px;
}

@media (max-width: 1000px) {
  .home_block {
    grid-template-rows: auto;
    justify-items: center;
    height: 100vh;
  }

  .intro_container {
    width: 90%;
    /* justify-content: center; */
    margin-left: 0;
  }

  .intro_text {
    width: auto;
    margin: 0;
  }

  .intro_text h1 {
    text-align: center;
    font-size: 50px;
  }

  .intro_btn {
    justify-self: center;
    align-self: center;
    margin: 0;
  }

  .intro_btn a {
    font-size: 20px;
  }

  .intro_text_alt {
    width: auto;
    margin: 0;
  }

  .intro_text_alt h1 {
    text-align: center;
    font-size: 50px;
    text-align: center;
  }

  .intro_text_alt h2 {
    text-align: center;
    text-align: center;
  }

  .intro_btn_alt {
    justify-self: center;
    align-self: center;
    margin: 0;
  }

  .content_block {
    /* width: 90%; */
    height: 100%;
  }

  .intro_container_alt {
    justify-self: center;
    align-self: center;
    margin-right: 0;
  }

  #hassle_text p {
    font-size: 25px;
  }

  #hassle_text h1 {
    font-size: 50px;
  }

  #home_footer {
    height: 10vh;
  }

  #footer_left {
    display: none;
  }
  
  #footer_mid {
    flex: 1;
    justify-self: left;
    justify-content: left;
    margin-left: 1rem;
  }

  #footer_right {
    margin-right: 1rem;
  }
}

@media (max-height: 800px) and (min-width: 1000px) {
  .home_block {
    /* grid-template-columns: 1fr 1fr; */
    justify-items: center;
  }

  .intro_container {
    width: 90%;
    /* justify-content: center; */
    margin-left: 0;
  }

  .intro_text {
    width: 100%;
  }

  .intro_text h1 {
    font-size: 50px;
  }

  .intro_btn a {
    font-size: 20px;
  }

  .content_block {
    grid-template-rows: auto;
    justify-items: center;
    width: 90%;
    /* height: auto; */
    overflow: visible;
  }

  #hassle_text p {
    font-size: 25px;
  }

  #hassle_text h1 {
    font-size: 50px;
  }
  
  #home_footer {
    height: 10vh;
  }

  #footer_left {
    display: none;
  }
  
  #footer_mid {
    flex: 1;
    justify-self: left;
    justify-content: left;
    margin-left: 1rem;
  }

  #footer_right {
    margin-right: 1rem;
  }
}
