#profile_content_right {
  display: grid;
  width: 100%;
  overflow: auto;
  justify-items: center;
  background-color: var(--main-wht-color);
  color: var(--main-cnt-color);
}

#edit_profile_content_right {
  display: grid;
  align-items: center;
  width: 100%;
  overflow: auto;
  background-color: var(--main-wht-color);
  color: var(--main-cnt-color);
}

#profile_view_div {
  display: grid;
  margin-bottom: 5%;
  text-align: left;
  width: 90%;
  height: 100%;
}

.profile_data_div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
  /* font-size: 20px; */
}

#profile_form {
  display: flex;
  justify-content: center;
}

#profile_form_div {
  width: 90%;
  padding: 2rem;
  text-align: left;
}

#top_div {
  display: grid;
  justify-self: center;
  align-items: center;
  grid-template-columns: 20% 80%;
  column-gap: 2em;
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
}

#image_div {
  display: grid;
  text-align: left;
  height: auto;
  cursor: pointer;
}

#edit_image_div {
  display: grid;
  text-align: left;
  height: 90%;
  width: 90%;
  margin-bottom: 1em;
  cursor: pointer;
}

#defaultAvatar {
  justify-self: center;
  width: 80%;
  height: auto;
  padding: 2em;
  color: var(--main-wht-color);
  background-color: var(--main-nv-color);
}

#image_div p {
  cursor: pointer;
  padding-top: 1rem;
  font-size: 90%;
}

#image_div img {
  max-width: 100%;
  max-height: 100%;
}

#remove_image {
  cursor: pointer;
  font-size: 1em;
}

#username_div {
  font-size: 3rem;
  text-transform: uppercase;
}

.profile_input_div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5em;
}

.profile_input_div div {
  position: relative;
  display: grid;
  align-items: center;
  width: 100%;
}

label {
  font-weight: bold;
}

.required:after {
  content: " *";
  color: red;
}

.profile_input {
  width: 100%;
  margin: 1em 0 2em 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: var(--main-cnt-color);
}

#profile_textarea_div {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
}

.profile_input_div textarea {
  margin: 1em 0;
  color: var(--main-cnt-color);
  resize: none;
  overflow: auto;
}

::placeholder {
  color: rgb(139, 139, 139);
}

#profile_submit_div {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  column-gap: 2rem;
  align-items: center;
}

#profile_submit_div a {
  text-decoration: none;
}

.profile_btn {
  background-color: var(--main-btn-color);
  color: var(--main-wht-color);
  text-align: center;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  border: none;
}

@media (max-width: 700px) {
  #edit_profile_content_right {
    display: block;
  }

  #top_div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  #image_div {
    margin-bottom: 2em;
  }

  #username_div {
    font-size: 8vw;
    text-transform: uppercase;
  }

  .profile_input_div {
    display: inline;
  }

  .profile_data_div {
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 1em;
    row-gap: 1em;
  }

  #profile_submit_div {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .profile_btn {
    margin-bottom: 1em;
  }
}
