#sign_in_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: auto;
  height: 90vh;
  background-color: var(--main-cnt-color);
}

#sign_in_content {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-cnt-color);
}

.block_left {
  display: grid;
  align-items: center;
  height: 100%;
  background-color: var(--main-nv-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.8s ease-in-out;
}

#block_right {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-cnt-color);
  color: #ffff;
}

#logo {
  width: 429px;
  height: auto;
  justify-self: center;
}

.signin_form {
  display: flex;
  min-width: 400px;
}

.signin_form_div {
  padding: 5rem;
  text-align: left;
}

.signin_link {
  margin: 3em 1em 1em 0;
  color: #ffff;
  text-decoration: none;
}

#f_lname_div {
  display: flex;
  justify-content: space-between;
  column-gap: 5em;

  div {
    display: grid;
    align-items: center;
    width: 100%;
  }
}

.signin_input {
  width: 100%;
  height: 30px;
  margin: 1em 0 2em 0;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #ffff;
  font-size: 1.2em;
}

#password_requirements_list {
  margin: 0 0 2em 0;
  padding: 0;

  li {
    list-style: none;
    color: #ffff;
    font-size: 1.1em;
  }
}

#password_match {
  margin: 0 0 2em 0;
  padding: 0;
  color: red;
  font-size: 1.1em;
}

#signin_submit_section {
  display: grid;
  justify-content: right;
  align-items: end;
}

.submit_div {
  display: grid;
  /* align-items: end; */
  margin-top: 1em;
  min-width: 250px;
}

.signin_submit {
  background-color: var(--main-btn-color);
  color: white;
  text-align: center;
  padding: 1em 1.5em;
  font-size: 1.2em;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--main-nv-color);
    cursor: not-allowed;
  }
}

@media (max-width: 850px) {
  #sign_in_wrapper {
    margin-top: 0;
    width: auto;
  }

  #sign_in_content {
    grid-template-columns: auto;
  }

  .block_left {
    display: none;
  }

  #logo {
    width: 60%;
    height: auto;
  }

  #signin_form {
    justify-self: center;
    width: 90%;
  }

  .signin_form_div {
    padding: 1rem;
    text-align: left;
  }

  #signin_submit_section {
    justify-content: center;
  }

  .submit_div {
    align-items: center;
    width: 100%;
  }

  .signin_submit {
    font-size: 1rem;
  }
}

@media (max-height: 700px) {
  .block_left {
    display: none;
  }

  #sign_in_content {
    grid-template-columns: 100%;
  }

  #signin_form {
    justify-self: center;
    width: 80%;
  }
}
